<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.jinmao.mapper.BaseTenantContractMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.jinmao.entity.BaseTenantContract" id="baseTenantContractMap">
        <result property="id" column="id"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="protocolPerson" column="protocol_person"/>
        <result property="protocolTel" column="protocol_tel"/>
        <result property="signDate" column="sign_date"/>
        <result property="bond" column="bond"/>
        <result property="annualFee" column="annual_fee"/>
        <result property="imageId" column="image_id"/>
        <result property="accountType" column="account_type"/>
        <result property="accountName" column="account_name"/>
        <result property="accountNumber" column="account_number"/>
        <result property="accountBookName" column="account_book_name"/>
        <result property="status" column="status"/>
        <result property="timeStamp" column="time_Stamp"/>
        <result property="createBy" column="create_By"/>
        <result property="createTime" column="create_Time"/>
        <result property="modifyBy" column="modify_By"/>
        <result property="modifyTime" column="modify_Time"/>
    </resultMap>

    <!--根据ID查找商户协议详情-->
    <select id="selectContractInfo" parameterType="java.lang.String"
            resultType="com.github.wxiaoqi.security.jinmao.vo.MerchantManagement.OutParam.ResultContractVo">
        SELECT
        DISTINCT(tc.id) ,
        tc.enterprise_id enterpriseId,
        tc.protocol_person protocolPerson,
        tc.protocol_tel protocolTel,
        tc.sign_date signDate,
        tc.bond,
        tc.annual_fee annualFee,
        tc.image_id imageUrl,
        tc.account_type accountType,
        tc.account_name accountName,
        tc.account_number accountNumber,
        tc.account_book_name accountBookName
        FROM
        base_tenant_contract tc
        WHERE
        tc.status = '1'
        and
        tc.enterprise_id = #{id}
    </select>
    <select id="getPhotoInfo" resultType="java.lang.String">
       SELECT file_name name from upload_info WHERE natrual_path = #{url}
    </select>

    <!--根据Id查询协议服务-->
    <select id="selectContractProjectById" parameterType="java.lang.String" resultType="com.github.wxiaoqi.security.jinmao.vo.MerchantManagement.OutParam.ResultProjectInfo">
        SELECT
            p.project_id id,
			p.project_name projectName
        from base_tenant t
        INNER JOIN base_tenant_project tp on tp.tenant_id = t.id
        INNER JOIN biz_crm_project p on tp.project_id = p.project_id
		where t.`status` = '1' and t.id = #{id}
    </select>

    <!--根据Id查询协议业务-->
    <select id="selectContractBusinessById" parameterType="java.lang.String" resultType="com.github.wxiaoqi.security.jinmao.vo.MerchantManagement.OutParam.ResultBusinessInfo">
        SELECT
            b.id id,
			b.bus_name busName
        from base_tenant t
        INNER JOIN base_tenant_business tb on tb.tenant_id = t.id
        INNER JOIN biz_business b on tb.bus_id = b.id
		where t.`status` = '1' and t.id = #{id}
    </select>


    <select id="selectContractBusinessInfo" resultType="com.github.wxiaoqi.security.jinmao.vo.Business.OutParam.ResultBusinessVo">
        select
        id,
        bus_Code busCode,
        bus_Name busName,
        create_type createType,
        description,
        view_Sort viewSort,
        type
        from
        biz_business
        where
        status = '1'
        and wo_type in('3','4') order by viewSort
    </select>
</mapper>