<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.jinmao.mapper.BaseTenantPostageMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.jinmao.entity.BaseTenantPostage" id="baseTenantPostageMap">
        <result property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="startAmount" column="start_amount"/>
        <result property="endAmount" column="end_amount"/>
        <result property="postage" column="postage"/>
        <result property="status" column="status"/>
        <result property="timeStamp" column="time_Stamp"/>
        <result property="createBy" column="create_By"/>
        <result property="createTime" column="create_Time"/>
        <result property="modifyBy" column="modify_By"/>
        <result property="modifyTime" column="modify_Time"/>
    </resultMap>

    <update id="deletePostage">
        update base_tenant_postage
        set status = '0'
        where tenant_id = #{tenantId}
    </update>

</mapper>