<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.jinmao.mapper.BizActivityApplyMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.jinmao.entity.BizActivityApply" id="bizActivityApplyMap">
        <result property="id" column="ID"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userMobile" column="user_mobile"/>
        <result property="activityId" column="activity_Id"/>
        <result property="subId" column="sub_id"/>
        <result property="signType" column="sign_type"/>
        <result property="comeFrom" column="come_from"/>
        <result property="applyStatus" column="apply_status"/>
        <result property="payStatus" column="pay_status"/>
        <result property="status" column="status"/>
        <result property="timeStamp" column="time_Stamp"/>
        <result property="createBy" column="create_By"/>
        <result property="createTime" column="create_Time"/>
        <result property="modifyBy" column="modify_By"/>
        <result property="modifyTime" column="modify_Time"/>
    </resultMap>

</mapper>