<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.jinmao.mapper.BizFacilitiesMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.jinmao.entity.BizFacilities" id="bizFacilitiesMap">
        <result property="id" column="ID"/>
        <result property="enclosedId" column="enclosed_id"/>
        <result property="facilitiesCode" column="facilities_code"/>
        <result property="facilitiesName" column="facilities_name"/>
        <result property="type" column="type"/>
        <result property="isPrivate" column="is_private"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="timeStamp" column="time_Stamp"/>
        <result property="createBy" column="create_By"/>
        <result property="createTime" column="create_Time"/>
        <result property="modifyBy" column="modify_By"/>
        <result property="modifyTime" column="modify_Time"/>
    </resultMap>

    <select id="selectFacilitiesById" resultType="com.github.wxiaoqi.security.jinmao.vo.enclosed.out.FacilitiesInfoVo">
        SELECT
            f.id,
            f.enclosed_id enclosedId,
            f.facilities_code code,
            f.facilities_name name,
            f.type
        FROM biz_facilities f
        WHERE
            f.status = '1'
        AND
            f.id = #{id}
        order by f.create_Time desc
    </select>
    
    <select id="selectProjectCodeById" resultType="java.lang.String">
        select
          p.project_code_two
        from biz_crm_project p
        left JOIN biz_enclosed e on p.project_id = e.project_id AND e.status = '1'
        WHERE
          p.status ='1'
        AND
        e.id = #{enclosedId}
    </select>


    <select id="getProjectById" resultType="java.lang.String">
        select
          p.project_name
        from biz_crm_project p
        left JOIN biz_enclosed e on p.project_id = e.project_id AND e.status = '1'
        WHERE
          p.status ='1'
        AND
        e.id = #{enclosedId}
    </select>
</mapper>