<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.jinmao.mapper.BizUserIntegralMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.jinmao.entity.BizUserIntegral" id="bizUserIntegralMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="signPoints" column="sign_points"/>
        <result property="taskPoints" column="task_points"/>
        <result property="consumePoints" column="consume_points"/>
        <result property="totalPoints" column="total_points"/>
        <result property="signCount" column="sign_count"/>
        <result property="timeStamp" column="time_Stamp"/>
        <result property="createBy" column="create_By"/>
        <result property="createTime" column="create_Time"/>
        <result property="modifyBy" column="modify_By"/>
        <result property="modifyTime" column="modify_Time"/>
        <result property="status" column="status"/>
    </resultMap>

</mapper>