<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.app.mapper.BizBusinessClassifyMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.app.entity.BizBusinessClassify" id="bizBusinessClassifyMap">
        <result property="id" column="id"/>
        <result property="busId" column="bus_id"/>
        <result property="classifyCode" column="classify_code"/>
        <result property="classifyName" column="classify_name"/>
        <result property="busStatus" column="bus_status"/>
        <result property="viewSort" column="view_sort"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="timeStamp" column="time_stamp"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyBy" column="modify_by"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <!--查询优选商品下的商品分类列表-->
    <select id="selectClassifyList" parameterType="java.lang.String"
            resultType="com.github.wxiaoqi.security.app.vo.product.out.ClassifyVo">
        select
        id classifyId,
        classify_name classifyName
        from
        biz_business_classify
        where
        status = '1'
        and bus_status = '1'
        and bus_id = #{busId}
        ORDER BY view_sort
    </select>
</mapper>