<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.app.mapper.BizCommentMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.app.entity.BizComment" id="bizCommentMap">
        <result property="id" column="Id"/>
        <result property="objectId" column="object_id"/>
        <result property="groupId" column="group_id"/>
        <result property="userId" column="user_id"/>
        <result property="pid" column="pid"/>
        <result property="type" column="type"/>
        <result property="pic" column="pic"/>
        <result property="content" column="content"/>
        <result property="showType" column="show_type"/>
        <result property="upNum" column="up_num"/>
        <result property="status" column="status"/>
        <result property="timeStamp" column="time_Stamp"/>
        <result property="createBy" column="create_By"/>
        <result property="createTime" column="create_Time"/>
        <result property="modifyBy" column="modify_By"/>
        <result property="modifyTime" column="modify_Time"/>
    </resultMap>


    <!--查询评论列表-->
    <select id="selectCommentList" resultType="com.github.wxiaoqi.security.app.vo.posts.out.CommentVo">
        select * from (
        (select
        c.id,
        c.pid,
        c.content,
        IFNULL(u.nickname,u.`name`) nickName,
        IFNULL(u.profile_photo,'') profilePhoto,
        DATE_FORMAT(c.create_Time,'%Y-%m-%d %H:%i') createTime,
        DATE_FORMAT(c.create_Time,'%Y-%m-%d %H:%i:%s') time,
        c.up_num upNum,
        IFNULL((SELECT '1' from biz_operating_detail d where d.object_id=c.id and d.user_id=#{userId} and d.`status`='1' limit 1),'0')  isUp
        from
        biz_comment c
        INNER JOIN base_app_client_user u on c.user_id=u.id and u.is_deleted = '1' and u.status = '1'
        where
        c.status = '1'
        and c.pid = '-1'
        and c.show_type = '1'
        and c.object_id = #{postsId}
        ORDER BY c.create_Time desc
        <if test="page != null and limit != null">
            LIMIT #{page},#{limit}
        </if>
        )
        UNION
        (select
        c.id,
        c.pid,
        c.content,
        IFNULL(u.nickname,u.`name`) nickName,
        IFNULL(u.profile_photo,'') profilePhoto,
        DATE_FORMAT(c.create_Time,'%Y-%m-%d %H:%i') createTime,
        DATE_FORMAT(c.create_Time,'%Y-%m-%d %H:%i:%s') time,
        c.up_num upNum,
        IFNULL((SELECT '1' from biz_operating_detail d where d.object_id=c.id and d.user_id=#{userId} and d.`status`='1' limit 1),'0')  isUp
        from
        biz_comment c
        INNER JOIN base_app_client_user u on c.user_id=u.id and u.is_deleted = '1' and u.status = '1'
        where
        c.status = '1'
        and c.pid != ''
        and c.pid != '-1'
        and c.show_type = '1'
        and c.object_id = #{postsId}
        ORDER BY c.create_Time desc
        ) )A
        ORDER BY A.time desc
    </select>

    <!--分享评论列表-->
    <select id="shareCommentList" resultType="com.github.wxiaoqi.security.app.vo.posts.out.CommentVo">
        select * from (
        (select
        c.id,
        c.pid,
        c.content,
        IFNULL(u.nickname,u.`name`) nickName,
        IFNULL(u.profile_photo,'') profilePhoto,
        DATE_FORMAT(c.create_Time,'%Y-%m-%d %H:%i') createTime,
        DATE_FORMAT(c.create_Time,'%Y-%m-%d %H:%i:%s') time,
        c.up_num upNum
        from
        biz_comment c
        INNER JOIN base_app_client_user u on c.user_id=u.id and u.is_deleted = '1' and u.status = '1'
        where
        c.status = '1'
        and c.pid = '-1'
        and c.show_type = '1'
        and c.object_id = #{postsId}
        ORDER BY c.create_Time desc
        <if test="page != null and limit != null">
            LIMIT #{page},#{limit}
        </if>
        )
        UNION
        (select
        c.id,
        c.pid,
        c.content,
        IFNULL(u.nickname,u.`name`) nickName,
        IFNULL(u.profile_photo,'') profilePhoto,
        DATE_FORMAT(c.create_Time,'%Y-%m-%d %H:%i') createTime,
        DATE_FORMAT(c.create_Time,'%Y-%m-%d %H:%i:%s') time,
        c.up_num upNum
        from
        biz_comment c
        INNER JOIN base_app_client_user u on c.user_id=u.id and u.is_deleted = '1' and u.status = '1'
        where
        c.status = '1'
        and c.pid != ''
        and c.pid != '-1'
        and c.show_type = '1'
        and c.object_id = #{postsId}
        ORDER BY c.create_Time desc
        ) )A
        ORDER BY A.time desc
    </select>


    <!--查询评论的数量-->
    <select id="selectCommentCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
        COUNT(*) total
        from
        biz_comment
        where
        status = '1'
        and pid = '-1'
        and show_type = '1'
        and object_id = #{postsId}
    </select>

    <!--查询评论点赞数-->
    <select id="selectUpNumById" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
        up_num upNum
        from
        biz_comment
        where
        status = '1'
        and id = #{commentId}
    </select>

    <!--评论隐藏-->
    <update id="updateCommentTypeById">
        UPDATE biz_comment
        SET
        show_type = '0',
        modify_Time = NOW(),
        modify_By = #{userId}
        where
        status = 1
        AND id = #{id}
    </update>

    <update id="updatePcommentTypeByPId">
        UPDATE biz_comment
        SET
        show_type = '0',
        modify_Time = NOW(),
        modify_By = #{userId}
        where
        status = 1
        AND pid = #{pid}
    </update>

    <!--根据评论id查询所属小组id-->
    <select id="selectGroupIdById" parameterType="java.lang.String" resultType="java.lang.String">
        select
        group_id groupId
        from
        biz_comment
        where
        status = '1'
        and id = #{id}
    </select>


    <select id="selectObjectIdBycommentId" parameterType="java.lang.String" resultType="java.lang.String">
        select object_id from biz_comment where id = #{commentId}
    </select>

</mapper>