<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.app.mapper.BizPlanWoPmpsOpMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.app.entity.BizPlanWoPmpsOp" id="bizPlanWoPmpsOpMap">
        <result property="id" column="id"/>
        <result property="pwrId" column="pwr_id"/>
        <result property="pwpsId" column="pwps_id"/>
        <result property="opVal" column="op_val"/>
        <result property="createTime" column="create_Time"/>
    </resultMap>
    <insert id="insertBatch" >
        insert into biz_plan_wo_pmps_op (id, pwr_id, pwps_id,op_val, create_Time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
        (
        #{item.id},
        #{item.pwrId},
        #{item.pwpsId},
        #{item.opVal},
        #{item.createTime})
        </foreach>
    </insert>
</mapper>