<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.app.mapper.BizReservationOrderOperationRecordMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.app.entity.BizReservationOrderOperationRecord" id="bizReservationOrderOperationRecordMap">
        <result property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="currentOrderStatus" column="current_order_status"/>
        <result property="currStep" column="curr_step"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="modifyBy" column="modify_by"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="deleteTime" column="delete_time"/>
    </resultMap>

    <select id="queryReservationOrderOperationRecord"
            resultType="com.github.wxiaoqi.security.app.reservation.vo.ReservationOrderOperationRecordVO">
        SELECT
            record.order_id orderId,
            record.step_status stepStatus,
            record.curr_step currStep,
            record.description,
            record.create_time createTime
        FROM
            biz_reservation_order_operation_record record
        INNER JOIN biz_reservation_order o ON o.id = record.order_id
        AND o.`status` = '1'
        AND record. STATUS = '1'
        WHERE
            o.id = #{orderId}
        ORDER BY
            record.create_time DESC
    </select>

</mapper>