<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.app.mapper.BizReservationOrderWaiterMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.app.entity.BizReservationOrderWaiter" id="bizReservationOrderWaiterMap">
        <result property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="orderDetailId" column="order_detail_id"/>
        <result property="waiterTel" column="waiter_tel"/>
        <result property="waiterName" column="waiter_name"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="modifyBy" column="modify_by"/>
        <result property="deleteTime" column="delete_time"/>
    </resultMap>

    <select id="queryWaiter" resultType="com.github.wxiaoqi.security.app.reservation.vo.ReservationOrderWaiterVO">
        SELECT
        order_id orderId,
        waiter_tel waiterTel,
        waiter_name waiterName,
        remark
        FROM
        biz_reservation_order_waiter
        WHERE
        order_id = #{orderId}
        AND `status` = 1
    </select>

</mapper>