<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.app.mapper.BizReservationOrderMapper">

    <!--查询服务详情(新接口)-->
    <select id="selectReservationInfo"  resultType="com.github.wxiaoqi.security.app.reservation.dto.ReservationInfoDTO">
      SELECT

            bp.limit_Num limitNum,
            (
            SELECT
            IFNULL(sum(od.quantity), 0)
            FROM
						biz_reservation_order_detail od
            LEFT JOIN biz_reservation_order o ON o.id = od.order_id
            WHERE o.user_id = #{userId}
            AND o.order_status != 45
            AND o.refund_status = 0
            AND o.`status` = TRUE
            AND od.product_id = #{productId}
            ) AS boughtNum
        FROM
            biz_reservation bp
        WHERE
            bp. STATUS = '1'
        AND reserva_Status = '3'
        AND bp.id = #{productId}
    </select>

    <select id="selectOneForPaySuccessByActualId"
            resultType="com.github.wxiaoqi.security.app.vo.order.out.OrderDataForPaySuccess">
       SELECT
            o.id orderId,
            o.order_status orderStatus,
            o.actual_price actualPrice,
            b.pay_status accountBookPayStatus
        FROM
            biz_reservation_order o
        INNER JOIN biz_account_book b ON o.id = b.sub_id
        AND b. STATUS = '1'
        WHERE
            b.actual_Id = #{actualId}
        AND o. STATUS = '1'
        LIMIT 1
    </select>

    <select id="queryReservationOrderListPage" parameterType="String" resultType="com.github.wxiaoqi.security.app.vo.reservation.out.ReservationOrderListVO">
        SELECT
        o.id,
        o.order_code code,
        o.title,
        o.order_status orderStatus,
        o.comment_status commentStatus,
        o.refund_status refundStatus,
        od.product_name productName,
        DATE_FORMAT(
        o.create_time,
        '%Y-%m-%d %H:%i:%s'
        ) createTime,
        od.spec_img imgId,
        o.contact_name contactName,
        o.actual_price actualCost,
        od.quantity,
        t.`name` companyName,
        od.sales_price price,
        od.unit unit
        FROM
        biz_reservation_order_detail od
        INNER JOIN biz_reservation_order o ON od.order_id = o.id
        AND od.`status` = 1
        AND o.`status` = 1
        LEFT JOIN base_tenant t ON o.tenant_id = t.id
        WHERE
        o.user_id = #{userId}
        <if test="orderStatus != null" >
            AND o.order_status = #{orderStatus}
        </if>
        <if test="refundStatus != null" >
            AND o.refund_status = #{refundStatus}
        </if>
        <if test="commentStatus != null" >
            AND o.comment_status = #{commentStatus}
        </if>
        ORDER BY o.create_time DESC
        <if test="page != null and limit != null">
            LIMIT #{page},#{limit}
        </if>
    </select>

    <update id="updateStatus">
        UPDATE biz_reservation_order
        <set>
            <if test="orderStatus != null">
                order_status = #{orderStatus},
            </if>

            <if test="refundStatus != null">
                refund_status = #{refundStatus},
            </if>

            <if test="commentStatus != null">
                comment_status = #{commentStatus},
            </if>

            <if test="modifyBy != null">
                modify_by = #{modifyBy},
            </if>
        </set>
        WHERE
            id = #{orderId}
        AND `status` = 1
    </update>

    <select id="queryRefundProductOrder" resultType="com.github.wxiaoqi.security.api.vo.order.out.SubVo">
        SELECT
            o.id,
            o.order_code CODE,
            4 woType,
            o.title,
            o.description,
            o.refund_status woStatus,
            o.refund_status subStatus,
            '' processId,
            DATE_FORMAT(
                o.create_Time,
                '%Y-%m-%d %H:%i:%s'
            ) createTimeStr,
            d.spec_img imgId,
            su. NAME handleBy,
            '' handleByUserId,
            o.contact_name contactName,
            o.contact_tel contactTel,
            o.delivery_addr deliveryAddr,
            '' remark,
            o.actual_price actualCost,
            d.quantity totalNum,
            DATE_FORMAT(
                o.reservation_Time,
                '%Y-%m-%d %H:%i:%s'
            ) expectedServiceTimeStr,
            DATE_FORMAT(
                o.create_time,
                '%Y-%m-%d %H:%i:%s'
            ) reviewWoTimeStr,
            IFNULL(cu.nickname, cu. NAME) userName,
            ab.actual_id actualId,
            IFNULL(t.is_print, '0') isPrint,
            IFNULL(i.invoice_name, '') invoiceName,
            IFNULL(i.duty_code, '') dutyNum,
            IFNULL(i.invoice_type, '0') invoiceType,
            CASE
        WHEN ab.pay_type = '1' THEN
            '支付宝'
        ELSE
            '微信'
        END payType,
         0 postageCost,
         IFNULL(o.discount_price, '') couponCost,
         o.comment_status commentStatus
        FROM
            biz_reservation_order o
        INNER JOIN biz_reservation_order_detail d ON o.id = d.order_id
        LEFT JOIN biz_account_book ab ON o.id = ab.sub_id
        AND ab. STATUS = '1'
        LEFT JOIN base_app_client_user cu ON o.user_id = cu.id
        AND cu. STATUS = '1'
        LEFT JOIN base_app_server_user su ON o.create_by = su.id
        AND su. STATUS = '1'
        LEFT JOIN base_tenant t ON t.id = o.tenant_id
        AND t. STATUS = '1'
        LEFT JOIN biz_order_invoice i ON i.order_id = o.id
        AND i.`status` = '1'
        WHERE
            o. STATUS = '1'
        AND o.id = #{orderId}
    </select>

    <select id="queryRefundProductOrderInfo" resultType="com.github.wxiaoqi.security.api.vo.order.out.SubProductInfo">
        SELECT
            d.product_Id productId,
            d.product_name productName,
            d.spec_id specId,
            d.spec_name specName,
            d.quantity subNum,
            d.sales_price price,
            d.spec_img imgId,
            d.unit unit
        FROM
            biz_reservation_order_detail d
        WHERE
            d.order_id = #{orderId}
        ORDER BY
            d.create_Time DESC
    </select>

    <select id="queryRefundProductOrderOperation"  resultType="com.github.wxiaoqi.security.api.vo.order.out.TransactionLogVo">
        SELECT
            r.id,
            r.curr_step currStep,
            r.description,
            '' conName,
            '' conTel,
            DATE_FORMAT(
                r.create_Time,
                '%Y-%m-%d %H:%i:%s'
            ) createTime,
            '' imgId,
            0 appraisalVal
        FROM
            biz_reservation_order_operation_record r
        WHERE
            STATUS = '1'

        AND r.order_id = #{orderId}
        GROUP BY
            r.curr_step,
            r.description,
            DATE_FORMAT(
                r.create_time,
                '%Y-%m-%d %H:%i:%s'
            )
        ORDER BY
            r.create_time DESC
    </select>
</mapper>