<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.app.mapper.BizReservationOrderDiscountMapper">

	<select id="querRalationIdByOrderId" resultType="String">
        SELECT
            relation_id
        FROM
            biz_reservation_order_discount
        WHERE
            order_id = #{orderId}
    </select>

</mapper>