<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.app.mapper.BizWoMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.app.entity.BizWo" id="bizWoMap">
        <result property="id" column="id"/>
        <result property="woCode" column="wo_code"/>
        <result property="crmWoCode" column="crm_wo_code"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="projectId" column="project_id"/>
        <result property="crmProjectCode" column="crm_project_code"/>
        <result property="landId" column="land_id"/>
        <result property="buildId" column="build_id"/>
        <result property="unitId" column="unit_id"/>
        <result property="roomId" column="room_id"/>
        <result property="crmRoomCode" column="crm_room_code"/>
        <result property="addr" column="addr"/>
        <result property="oneCategoryCode" column="one_category_code"/>
        <result property="oneCategoryName" column="one_category_name"/>
        <result property="twoCategoryCode" column="two_category_code"/>
        <result property="twoCategoryName" column="two_category_name"/>
        <result property="threeCategoryCode" column="three_category_code"/>
        <result property="threeCategoryName" column="three_category_name"/>
        <result property="contactUserId" column="contact_user_id"/>
        <result property="contactName" column="contact_name"/>
        <result property="contactTel" column="contact_tel"/>
        <result property="publishUserId" column="publish_user_id"/>
        <result property="publishName" column="publish_name"/>
        <result property="publishTel" column="publish_tel"/>
        <result property="handleChannel" column="handle_channel"/>
        <result property="crmSyncFlag" column="crm_sync_flag"/>
        <result property="comeFrom" column="come_from"/>
        <result property="status" column="status"/>
        <result property="timeStamp" column="time_Stamp"/>
        <result property="createBy" column="create_By"/>
        <result property="createTime" column="create_Time"/>
        <result property="modifyBy" column="modify_By"/>
        <result property="modifyTime" column="modify_Time"/>
        <result property="commentStatus" column="comment_status"/>
        <result property="valet" column="valet"/>
    </resultMap>

    <!--根据工单ID列表查询我的工单-->
    <select id="selectWoListByWoId" parameterType="map" resultType="com.github.wxiaoqi.security.api.vo.order.out.WoListVo">
        SELECT w.id,sw.code woCode,sw.wo_type woType,IFNULL(w.title,s.title) title,IFNULL(w.description,s.description) description,sw.wo_status woStatus,sw.img_id imgId,
        s.actual_cost actualCost,s.total_num totalNum,IFNULL(s.contact_name,w.contact_name) contactName,
        DATE_FORMAT(w.create_Time,'%Y-%m-%d %H:%i:%s') createTimeStr,s.price price,s.unit unit
        ,w.incident_type incidentType,w.valet,IFNULL(s.invoice_type,'0') invoiceType,case when t.wo_timeout = 0 then '2'  WHEN TIMESTAMPDIFF(MINUTE,w.create_time,NOW()) &gt;= t.wo_timeout THEN '1'  ELSE '2' end as timeOut
        from biz_wo w
        INNER JOIN biz_subscribe_wo sw on w.id=sw.id and sw.status='1'
        LEFT JOIN  biz_subscribe s on s.id=sw.id and s.status='1'
        LEFT JOIN base_tenant t on t.id=sw.company_Id and t.status='1'
        where w.status='1'
        and w.id in
        <foreach collection="woIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by w.create_time desc
        <if test="page != null and limit != null">
            LIMIT #{page},#{limit}
        </if>
    </select>

    <!--根据业务查询我的工单列表-->
    <select id="selectWoListByUserId" parameterType="map" resultType="com.github.wxiaoqi.security.api.vo.order.out.WoListVo">
        SELECT w.id,w.wo_code woCode,sw.wo_type woType,w.title,w.description,sw.wo_status woStatus,DATE_FORMAT(sw.create_Time,'%Y-%m-%d %H:%i:%s') createTimeStr,
        sw.img_id imgId ,w.valet
        from biz_wo w
        INNER JOIN biz_subscribe_wo sw on w.id=sw.id and sw.status='1'
        where w.status='1'
        <if test="userId != null and userId != ''">
            and w.contact_user_id=#{userId}
        </if>
        <if test="publishUserId != null and publishUserId != ''">
            and w.publish_user_id=#{publishUserId}
        </if>
        and sw.bus_id=#{busId}
        <if test="projectId != null and projectId != ''">
            and w.project_id = #{projectId}
        </if>
        order by sw.create_time desc
        <if test="page != null and limit != null">
            LIMIT #{page},#{limit}
        </if>
    </select>

    <!--根据状态查询我的工单列表-->
    <select id="selectMyWoList" parameterType="map" resultType="com.github.wxiaoqi.security.api.vo.order.out.WoListVo">
        SELECT w.id,sw.code woCode,sw.wo_type woType,w.title,w.description,sw.wo_status woStatus,DATE_FORMAT(w.create_Time,'%Y-%m-%d %H:%i:%s') createTimeStr,sw.img_id imgId,
        s.actual_cost actualCost,s.total_num totalNum,IFNULL(s.contact_name,w.contact_name) contactName,t.`name` companyName,s.price price,s.unit unit
        ,w.incident_type incidentType,w.valet,IFNULL(s.invoice_type,'0') invoiceType
        from biz_wo w
        INNER JOIN biz_subscribe_wo sw on w.id=sw.id and sw.status='1'
        LEFT JOIN base_tenant t on sw.company_Id=t.id and t.status='1'
        LEFT JOIN  biz_subscribe s on s.id=sw.id and s.status='1'
        where w.status='1'
        and sw.wo_status in
        <foreach collection="woStatusList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="woType != null and woType!='' " >
          and sw.wo_type=#{woType}
        </if>
        <if test="projectId != null and projectId != ''">
            and w.project_id = #{projectId}
        </if>
        and sw.handle_by=#{handleBy}
        order by sw.wo_status,w.create_time desc
        <if test="page != null and limit != null">
            LIMIT #{page},#{limit}
        </if>
    </select>

    <!--按工单类型统计我的工单列表-->
    <select id="selectMyWoListCountByWoType" parameterType="map" resultType="map">
        SELECT wo_type woType,count(1) count
        from biz_subscribe_wo w
        where w.status='1'
        and w.handle_by=#{handleBy}
        <if test="projectId != null and projectId != ''">
            and w.project_id = #{projectId}
        </if>
        GROUP BY wo_type
    </select>

<!--查询客服、商业人员的待接工单-->
    <select id="getWaitWoByCompanyId" parameterType="String" resultType="String">
        SELECT w.id
        from biz_subscribe_wo w
        where w.status='1'
        <if test="companyId != null and companyId != ''">
            and w.company_id=#{companyId}
        </if>
        <if test="projectId != null and projectId != ''">
            and w.company_id in (
            SELECT t.id from base_tenant t
            INNER JOIN base_tenant_project p on t.id=p.tenant_id and p.status='1'
            and  p.project_id=#{projectId}
            where t.tenant_type='1' and t.`status`='1'
            )
        </if>
        and w.wo_status='01'
    </select>

    <!--查询物业人员的待接工单-->
    <select id="getWaitWoByPropertyUserId" parameterType="map" resultType="map">
        SELECT DISTINCT w.id woId,ws.skill_code skillId
        from biz_subscribe_wo w
        INNER JOIN base_app_server_user_tenant_id asu on w.company_id=asu.tenant_id and asu.status='1'
        INNER JOIN base_property_service_area psa on asu.id=psa.app_server_id
            and w.project_id=psa.project_id and (w.build_id = psa.build_id or psa.build_id='-1' or w.build_id is null)
        INNER JOIN biz_wo_skills ws on w.id=ws.wo_id and ws.status='1'
        where w.status='1'
          and asu.id=#{userId}
          and w.wo_status='01'
        <if test="projectId !=null and projectId != ''">
            and w.project_id = #{projectId}
        </if>
    </select>


    <!--查询工单调度基本信息-->
    <select id="getWoSkillInfo" parameterType="map" resultType="map">
        SELECT deal_type dealType,w.company_id companyId,
               w.project_id projectId,w.build_id buildId,ws.skill_code skillId
        from biz_subscribe_wo w
        LEFT JOIN biz_wo_skills ws on w.id=ws.wo_id and ws.status='1'
        where w.id=#{woId}
    </select>

    <!--查询公司拥有的物业人员用户及拥有技能 -->
    <select id="getPropertyUserList" parameterType="map" resultType="map">
        SELECT asu.id userId,pss.skill_code skillId
        from base_app_server_user asu
        INNER JOIN base_property_service_area psa on asu.id=psa.app_server_id
        and psa.project_id=#{projectId}
        <if test="buildId != null and buildId!=''">
        and (psa.build_id=#{buildId} or psa.build_id='-1')
        </if>
        LEFT JOIN base_property_service_skills pss on asu.id=pss.app_server_id and pss.status='1'
        where asu.tenant_id=#{companyId} and asu.is_service='1' and asu.status='1' and asu.is_active='1'
        <if test="skillId != null">
            and pss.skill_code=#{skillId}
        </if>
    </select>


    <!--查询公司拥有的客服人员 -->
    <select id="getCustomerUserList" parameterType="String" resultType="String">
        SELECT asu.id userId
        from base_app_server_user asu
        INNER JOIN base_app_server_user_tenant_id t on t.id = asu.id and t.status = '1'
        where t.tenant_id=#{companyId} and asu.is_customer='1' and asu.status='1' and asu.is_active='1'
    </select>

    <!--查询公司拥有的商业服务人员 -->
    <select id="getBusinessUserList" parameterType="String" resultType="String">
        SELECT asu.id userId
        from base_app_server_user asu
        where asu.tenant_id=#{companyId} and asu.is_business='1' and asu.status='1' and asu.is_active='1'
    </select>

    <!--获取当前项目管理公司 -->
    <select id="getCompanyIdByProjectId" parameterType="String" resultType="String">
        SELECT t.id companyId
        from base_tenant t
        LEFT JOIN base_tenant_project tp on t.id=tp.tenant_id and tp.status='1'
        where t.status='1'
              and t.tenant_type='1'
              and t.enable_status='1'
              and project_id=#{projectId}
    </select>

    <select id="getPlanWoExcel" parameterType="map" resultType="com.github.wxiaoqi.security.api.vo.order.out.PlanWoExcelVo">
        SELECT w.wo_code woCode,w.title,sw.wo_status woStatus,
        w.description,IFNULL(u.name,'') handleBy,w.come_from comeFrom,
        IFNULL(DATE_FORMAT(sw.create_Time,'%Y-%m-%d %H:%i:%s'),'') createTime,IFNULL(DATE_FORMAT(sw.receive_wo_time,'%Y-%m-%d %H:%i:%s'),'') receiveWoTime,
        IFNULL(DATE_FORMAT(sw.start_process_time,'%Y-%m-%d %H:%i:%s'),'') startProcessTime,IFNULL(DATE_FORMAT(sw.finish_wo_time,'%Y-%m-%d %H:%i:%s'),'') finishWoTime
        ,GROUP_CONCAT(ch.record_house_name separator '\n') houseNames
        ,w.three_category_code categoryCode
        from biz_wo w
        INNER JOIN biz_subscribe_wo sw on w.id=sw.id and sw.status='1'
        INNER JOIN base_tenant t on sw.company_Id=t.id and t.status='1'
        LEFT JOIN base_app_server_user u on u.id=sw.handle_by and u.status='1'
        LEFT JOIN biz_plan_wo_relation pwr on pwr.wo_id = w.id
        LEFT JOIN biz_crm_house ch on ch.house_id = pwr.room_id AND ch.`status` = '1'
        where w.status='1'
        <if test="startDate != null and startDate!=''">
            and DATE_FORMAT(w.create_time,'%Y-%m-%d')&gt;=#{startDate}
        </if>
        <if test="endDate != null and endDate!='' " >
            and DATE_FORMAT(w.create_time,'%Y-%m-%d')&lt;=#{endDate}
        </if>
        <if test="projectId != null and projectId!=''">
            and w.project_Id=#{projectId}
        </if>
        <if test="companyId != null and companyId!=''">
            and t.id=#{companyId}
        </if>
        <if test="workCome != null and workCome !=''">
            and w.come_from=#{workCome}
        </if>
        <if test="guests != null and guests !=''">
            and w.valet=#{guests}
        </if>
        <if test="syncStatus != null and syncStatus !=''">
            and w.crm_sync_flag=#{syncStatus}
        </if>
        <if test="searchVal != null and searchVal!=''">
            and (w.wo_code LIKE CONCAT('%',#{searchVal},'%') or w.title LIKE CONCAT('%',#{searchVal},'%')
            or w.contact_name LIKE CONCAT('%',#{searchVal},'%') or w.contact_tel LIKE CONCAT('%',#{searchVal},'%'))
        </if>
        and sw.bus_id in
        <foreach collection="busIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY w.id
        order by w.create_time desc
    </select>
    <!--查询投诉、报修工单列表-->
    <select id="queryIncidentList" parameterType="map" resultType="com.github.wxiaoqi.security.api.vo.order.out.WoListForWebVo">
        SELECT w.id,w.wo_code woCode,w.crm_wo_code crmWoCode,w.title,sw.wo_type woType,w.contact_name contactName,w.contact_tel contactTel,w.addr,sw.wo_status woStatus,
        w.description,IFNULL(u.name,'') handleBy,w.come_from comeFrom,IFNULL(w.publish_name,'') publishName,IFNULL(w.publish_tel,'') publishTel,
        IFNULL(DATE_FORMAT(sw.create_Time,'%Y-%m-%d %H:%i:%s'),'') createTime,IFNULL(DATE_FORMAT(sw.receive_wo_time,'%Y-%m-%d %H:%i:%s'),'') receiveWoTime,
        IFNULL(DATE_FORMAT(sw.start_process_time,'%Y-%m-%d %H:%i:%s'),'') startProcessTime,IFNULL(DATE_FORMAT(sw.finish_wo_time,'%Y-%m-%d %H:%i:%s'),'') finishWoTime,w.valet,
        w.crm_sync_flag crmSyncFlag
        ,w.three_category_name categoryName
        ,w.three_category_code categoryCode
        from biz_wo w
        INNER JOIN biz_subscribe_wo sw on w.id=sw.id and sw.status='1'
        INNER JOIN base_tenant t on sw.company_Id=t.id and t.status='1'
        LEFT JOIN base_app_server_user u on u.id=sw.handle_by and u.status='1'
        where w.status='1'
        <if test="startDate != null and startDate!=''">
            and DATE_FORMAT(w.create_time,'%Y-%m-%d')&gt;=#{startDate}
        </if>
        <if test="endDate != null and endDate!='' " >
            and DATE_FORMAT(w.create_time,'%Y-%m-%d')&lt;=#{endDate}
        </if>
        <if test="projectId != null and projectId!=''">
            and w.project_Id=#{projectId}
        </if>
        <if test="companyId != null and companyId!=''">
            and t.id=#{companyId}
        </if>
        <if test="workCome != null and workCome !=''">
            and w.come_from=#{workCome}
        </if>
        <if test="guests != null and guests !=''">
            and w.valet=#{guests}
        </if>
        <if test="syncStatus != null and syncStatus !=''">
            and w.crm_sync_flag=#{syncStatus}
        </if>
        <if test="woStatus != null and woStatus !=''">
            <if test="woStatus == '06'.toString()">
                and sw.wo_Status in ('06','07')
            </if>
            <if test="woStatus != '06'.toString()">
                and sw.wo_status=#{woStatus}
            </if>
        </if>
        <if test="searchVal != null and searchVal!=''">
            and (w.wo_code LIKE CONCAT('%',#{searchVal},'%') or w.title LIKE CONCAT('%',#{searchVal},'%')
            or w.contact_name LIKE CONCAT('%',#{searchVal},'%') or w.contact_tel LIKE CONCAT('%',#{searchVal},'%')
            or w.crm_wo_code LIKE CONCAT('%',#{searchVal},'%') )
        </if>
        and sw.bus_id in
        <foreach collection="busIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by w.create_time desc
        <if test="page != null and limit != null">
            LIMIT #{page},#{limit}
        </if>
    </select>

    <!--查询投诉、报修工单列表-->
    <select id="queryIncidentListTotal" parameterType="map"  resultType="int">
        SELECT  count(w.id)
        from biz_wo w
        INNER JOIN biz_subscribe_wo sw on w.id=sw.id and sw.status='1'
        INNER JOIN base_tenant t on sw.company_Id=t.id and t.status='1'
        LEFT JOIN base_app_server_user u on u.id=sw.handle_by and u.status='1'
        where w.status='1'
        <if test="startDate != null and startDate!=''">
            and DATE_FORMAT(w.create_time,'%Y-%m-%d')&gt;=#{startDate}
        </if>
        <if test="endDate != null and endDate!='' " >
            and DATE_FORMAT(w.create_time,'%Y-%m-%d')&lt;=#{endDate}
        </if>
        <if test="projectId != null and projectId!=''">
            and w.project_Id=#{projectId}
        </if>
        <if test="syncStatus != null and syncStatus !=''">
            and w.crm_sync_flag=#{syncStatus}
        </if>
        <if test="companyId != null and companyId!=''">
            and t.id=#{companyId}
        </if>
        <if test="workCome != null and workCome !=''">
            and w.come_from=#{workCome}
        </if>
        <if test="guests != null and guests !=''">
            and w.valet=#{guests}
        </if>
        <if test="woStatus != null and woStatus !=''">
            <if test="woStatus == '06'.toString()">
                and sw.wo_Status in ('06','07')
            </if>
            <if test="woStatus != '06'.toString()">
                and sw.wo_status=#{woStatus}
            </if>
        </if>

        <if test="searchVal != null and searchVal!=''">
            and (w.wo_code LIKE CONCAT('%',#{searchVal},'%') or w.title LIKE CONCAT('%',#{searchVal},'%')
            or w.contact_name LIKE CONCAT('%',#{searchVal},'%') or w.contact_tel LIKE CONCAT('%',#{searchVal},'%'))
        </if>
        and sw.bus_id in
        <foreach collection="busIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--获取工单详情to Web-->
    <select id="getWoDetailForWeb" parameterType="String" resultType="com.github.wxiaoqi.security.api.vo.order.out.WoListForWebVo">
        SELECT w.id,w.wo_code woCode,w.title,sw.wo_type woType,w.contact_name contactName,w.contact_tel contactTel,w.addr,sw.wo_status woStatus,w.description,IFNULL(u.name,'') handleBy,img_id imgId,
        IFNULL(DATE_FORMAT(sw.create_Time,'%Y-%m-%d %H:%i:%s'),'') createTime,IFNULL(DATE_FORMAT(sw.receive_wo_time,'%Y-%m-%d %H:%i:%s'),'') receiveWoTime,
        IFNULL(DATE_FORMAT(sw.start_process_time,'%Y-%m-%d %H:%i:%s'),'') startProcessTime,IFNULL(DATE_FORMAT(sw.finish_wo_time,'%Y-%m-%d %H:%i:%s'),'') finishWoTime
        ,w.publish_name publishName,w.publish_tel publishTel,w.valet
        ,sw.process_id processId
        ,sw.handle_by handleId
        from biz_wo w
        INNER JOIN biz_subscribe_wo sw on w.id=sw.id
        LEFT JOIN base_app_server_user u on u.id=sw.handle_by and u.status='1'
        where w.status='1' and w.id=#{woId}
    </select>

    <!--获取业务数据字典三级分类的名称和值-->
    <select id="getBizDictThreeVal" parameterType="String" resultType="com.github.wxiaoqi.security.api.vo.dict.DictThreeVal">
        SELECT one.val oneCategoryCode,one.name oneCategoryName,two.val twoCategoryCode,two.name twoCategoryName,
			three.val threeCategoryCode,three.name threeCategoryName
        from biz_dict three
        INNER JOIN biz_dict two on three.pid=two.id and two.status='1'
        INNER JOIN biz_dict one on two.pid=one.id and one.status='1'
        where three.val=#{val} and one.pid=#{pid} and three.status='1';
    </select>

    <!--获取业务数据字典两级分类的名称和值-->
    <select id="getBizDictTwoVal" parameterType="String" resultType="com.github.wxiaoqi.security.api.vo.dict.DictThreeVal">
        SELECT two.val twoCategoryCode,two.name twoCategoryName,
			three.val threeCategoryCode,three.name threeCategoryName
        from biz_dict three
        INNER JOIN biz_dict two on three.pid=two.id and two.status='1'
        where three.val=#{val} and three.pid=#{pid} and three.status='1';
    </select>


    <!--查询工单类型-->
    <select id="selectWoTypeById" parameterType="java.lang.String" resultType="java.lang.String">
        select wo_type from biz_subscribe_wo where status='1' and id = #{id}
    </select>

    <!--根据工单id查询服务名称-->
    <select id="seelctResrrevaNameById" parameterType="java.lang.String" resultType="java.lang.String">
        select
        r.name
        from
        biz_sub_reservation sr
        INNER JOIN biz_reservation r on sr.reservation_id=r.id
        where
        sr.status = '1'
        and sr.wo_id = #{id}
    </select>

</mapper>