<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.pay.mapper.BizUserWechatMapper">
    <select id="getOpenId" resultType="string">
        select open_id from biz_user_wechat where user_id = #{userId} and app_id = #{appId} and status = '1' limit 1
    </select>
</mapper>